# TE-ETRX Results Analysis

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
my_data = pd.read_csv('Data.csv',header=None, usecols=[2,3,8,12,16,20,24,28,31,34,37,40,43], sep=',')
my_data.head(5)

            2       3   8   12  16  20  24  28  31  34  37  40  43
0         Atre  Prutha  84  93  80  69  85  68  53  27  28  54  98
1  Barwaniwala   Abbas  86  96  97  83  89  76  57  28  29  58  91
2       Bhagat   Sahil  48  81  59  42  52  50  51  28  29  57  98
3    Deshpande   Varun  69  85  45  48  74  67  41  28  27  53  40
4       Dongre    Isha  66  84  72  56  68  60  44  27  27  52  92

In [6]:
my_data.columns = ['First name','Last name','BVLSI', 'AIS','CO','PE','DSPP','MITM','BVLSI_LAB','AIS_LAB','PE_LAB','DSPP_LAB','MP1']
#my_data

In [8]:
my_data["BVLSI"].mean()

70.28947368421052